/* ----------------------------------------------
	Template Name : UltraLight
	Version : 1.0 
	Author : Behnam Ahmad Khan Beigi
	Author URI : http://www.b3hnam.com/       
	Last Date Modified : December 16, 2011	
	Based on : Keep It Simple template http://www.styleshout.com/
------------------------------------------------ */
 
/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 
body {
    font: 12px/165% "Lucida Grande", "Verdana", "Helvetica", sans-serif;
    color:#666666;
    margin: 0; padding: 0;
}
/* Links */
a { 
    text-decoration: none;
    color: #AE855C;	
    text-decoration: none;
}
a:hover {
    border-bottom: 1px dotted #AE855C;	
}
/* Headers */
h1, h2, h3, h4 {
    font: bold 1em/1.5em "Georgia", "Times New Roman", "Times", serif;
    color: #444;
    padding: 10px 15px 7px 15px;	 
}
h1 { font-size: 3.0em; font-weight: normal; letter-spacing: -2px; }
h2 {
    font-size: 2.8em;
    font-weight: normal;
    color: #663333; 
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    border-bottom-color: #EBEBEB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #444444;
    font-family: Georgia,'Times New Roman',Times,Serif;
    font-size: 3.7em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: -2.5px;
    line-height: normal;
    margin-left: 5px;
    margin-right: 15px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform:capitalize;
}

h3 { font-size: 2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}
h4 { 
    font-weight: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    margin:0px;
    padding:0px;

}

strong { font-weight: bold; }

/* Lists */
ul, ol {
    margin: 10px 20px;
    padding: 0 20px;
}
ul { list-style: disc; }
ol { list-style: decimal; }

dt {
    font-weight: bold;
    color: #7BA857;
}
dd {
    padding-left: 25px; 
}

p, dl { padding: 10px 15px; }

/* Images */
img {
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
    padding: 8px;
}
img.float-right {
    margin: 5px 0px 10px 10px;  
}
img.float-left {
    margin: 5px 10px 10px 0px;
}

acronym {
    cursor: help;
    border-bottom: 1px dotted #895F30;
}
blockquote {
    margin: 10px;
    padding: 10px 10px 10px 32px;  
    border: 1px solid #F0F0F0;
    background: #f8f8f8 url(../images/quote.gif) no-repeat 12px 12px;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5em;
    font-style: italic;
    font-family: "Georgia", "Times New Roman", "Times", Serif;	
    color: #555;
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 10px;		
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
	text-align: left;			
	border-width: 1px;
  	border-style: solid;
}
th {
	color: #7BA857;
	background: #EFFAE6;
	padding: .8em 1em;	
  	border-color: #DFF4D5 #D3EFC3 #A7DF8A #D3EFC3;	
}
td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}	
/* end - table */

/* form elements */
form {
	margin: 10px; 
	padding: 15px 25px 25px 20px; 
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
}
form p {
	border-bottom: 1px solid #E6E6E6;
	padding: 12px 0 5px 0;	margin: 0;	
	color: #7BA857;
}
label {
	font-weight: bold;
	color: #7BA857;
}
input, select, textarea {
	margin: 5px 0;
	padding: 5px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	
	font: 11px "Lucida Grande", "Verdana", "Helvetica", sans-serif;
}
input:focus, select:focus, textarea:focus {
	color: #7BA857;
	background: #EFFAE6;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #9CCF5F;
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
}

menu{
    border-top: 6px solid #9fcc7f;
    border-bottom: 1px solid #eae8e8;
    width:auto;
    height:44px;
    background-color:#f5f4f3;
    margin:0px;
}

menu ul{
    width:74%;
    margin-right:auto;
    margin-left:auto;
}

menu ul li{
    padding:0px;
    display:inline;
}

menu ul li a {
    font-size:14px;
    color:#666666;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    float: left;
    font-family: 'Trebuchet MS','Helvetica Neue',Arial,Sans-Serif;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 25px;
    padding-top: 0;
    text-transform: uppercase;
}

menu ul li a:hover {
    color:#000000;
    border-bottom: none;
}

footer {
    border-bottom: 6px solid #9fcc7f;
    border-top: 1px solid #eae8e8;
    width:auto;
    height:150px;
    background-color:#f5f4f3;
    margin:0px;
    margin-top:10px;
    padding:0px;
    padding-top:20px;
    
}

#footer-box {
    margin-left:auto;
    margin-right:auto;
    width : 80%;
}

footer #left {
    display:inline;
    float:left;
    width:25%;
    margin-right:30px;
    padding-right:20px;
    padding-left:30px;
}

footer #right {
    display:inline;
    float:left;
    width:25%;
    margin-right:30px;
    padding-right:20px;
    padding-left:30px;
}

footer #center {
    display:inline;
    float:left;
    width:25%;
    margin-right:30px;
    padding-right:20px;
    padding-left:30px;
}

.footer-title {
    font-weight:bold;
    margin-bottom:10px;
    margin-left:-10px;
    color:#cdcdcd;
    border-bottom: solid 2px #eae8e8;
}
#leftbar {
    margin-left:auto;
    margin-right:auto;
    width:49%;
    display:inline;
    float:left;
    border-right:solid 1px #EBEBEB;
    height:100%;
}

#rightbar {

    margin-left:auto;
    margin-right:auto;
    width:50%;
    display:inline;
    float:right;
    height:100%;
}

author,time {
    display:block;
    font-size:10px;
}

entry {
    padding:10px;
}


article {
    padding-left:40px;
    padding-bottom:30px;
}

tag {
    color:green;
}

.hide {
    display:none;
}

.more {
    font-weight:bold;
    padding-left:50px;
}


#content {
    display:table;
    width:75%;
    margin-left:auto;
    margin-right:auto;
}

#typeslist {
    display:inline;
    float:left;
}

#categorieslist {
    float:right;
    display:inline;
}
.navigation-box{
    display:table;
    background-color:#F5F4F3;
    padding:8px;
    width:100%;
}

.navigation-button {
    display:table;
    text-align:center;
    background-color:#F5F4F3;
    width:100%;
    padding:0px;
}

.commentform{
    width:50%;
}