<!DOCTYPE html>
<html>
<head>
{% block head %}
<script language="javascript" src="/statics/js/base.js"></script>
<script language="javascript" src="/statics/js/style.js"></script>
<link REL="SHORTCUT ICON" HREF="/statics/images/me.ico">
<link rel="stylesheet" type="text/css" href="/statics/style/base.css" />
<title>{% block title %}b3hnam.com{% endblock %}</title>
{% endblock %}
</head>
<body>
<header>
  <menu>
    <ul>
      <li><a href="/">Home</a></li>
      {% block menu %}
      
      {% endblock %}
    </ul>
  </menu>
  
</header>
{% block body %}

{% block content %}
{% endblock %}

{% endblock %}
<footer>
  <div id="footer-box">
    <div id="left">
      <div class="footer-title">Powered by :</div>
      <a href="http://www.vandaproject.org/download/" target="_blank">Ultra Blog</a> , a modern blog application for <a href="http://www.vandaproject.org" target="_blank">Vanda Project</a>.
    </div>
    <div id="center">
      <div class="footer-title">Related Links :</div>
      <a href="http://www.iamamemberofsomehackersintownstreetcomputinggroupwhataboutyou.com">Some Hackers In Town</a><br>
      <a href="http://www.karanic.com">Vanda Project</a><br>
      <a href="http://www.karajlug.org">KarajLug</a><br>
      <a href="http://www.karanic.com">KaraNic</a><br>
    </div>
    
    <div id="right">
      <div class="footer-title">Friends :</div>
      <a href="http://www.lxsameer.com">Lxsameer</a><br>
      <a href="http://www.seeto.ir">Seeto</a><br>
    </div>
  </div> 
</footer>
</body>
<html>
