{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block menu %}
  {% for result in results %}
   <ul><a href="/blog/filter/?type={{result.1}}">{{result.0}}</a></ul>
  {% endfor %}

{% endblock %}
   {% block content %}
   <div class="posts">
     {% for post in posts %}
     <h4>{{ post.title }}</h4>
     <article class="post">
       {% autoescape off %}
       {% cycle post.get_content '' '' '' ''  %}
       {% endautoescape %}
     </article>
     {% endfor %}
   </div>
   {% endblock %}
