{% extends "base.html" %}
{% load categories_list %}
{% load types_list %}
{% load i18n %}
{% load comments %}
{% block title %}
Behnam Ahmad Khan Beigi | بهنام احمد خان بیگی
{% endblock %}
{% block menu %}
  {% for result in results %}
   <li><a href="/blog/filter/?type={{result.1}}">{{result.0}}</a></li>
  {% endfor %}
{% endblock %}

{% block cats %}
  {% for cat in cats %}
   <li><a href="/blog/filter/?category={{cat.title}}">{{cat.title}}</a></li>
  {% endfor %}
{% endblock %}

   {% block content %}
   <div id="content">
     <div id="leftbar">
       <div class="posts">
	 {% for result in results %}
	 <h2>{{ result.0 }}</h2>
	 <ul>
	   {% for post in result.2 %}
	   <li><a href="/blog/posts/{{ post.slug }}">{{ post.title }}</a></li>
	   <article class="{% cycle  '' 'hide' 'hide' 'hide' 'hide' %}">
	     {% autoescape off %}
	     {% cycle post.get_content|truncatewords:36 '' '' '' ''  %}
	 {% endautoescape %}
	   </article>
	   {% endfor %}
	 </ul>
	 <a class="more" href="/blog/filter/?type={{result.1}}"> &diams; Other {{ result.1 }}s &diams;</a>
	 {% endfor %}
       </div>
     </div>
     <div id="rightbar">
       <h2>Filter</h2>
       <div class="navigation-box">
	 <div id="categorieslist">Category : {% categorieslist %}</div>
	 <div id="typeslist">Type : {% typeslist %}</div>

       <div class="navigation-button">
	<input type="button" value="Search" onclick="filter()">
       </div>
       </div>
	 <h2>Activities</h2>
     </div>
   </div>
   {% endblock %}
